<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1{
            color: blue;
        }
        p{
            color: red;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li>Apple</li>
        <li>orange</li>
        <li>banana</li>
        <li>mango</li>
    </ul>
    
</body>
</html>